<h1>Translation Table</h1>

<table>
  <tbody> 
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.locale %></td>
        <td><%= form_for translation do |f| %>
            <%= f.text_field :value %>
            <%= f.submit %>
            <% end %>
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>